.highlight {
    color: $color-code-foreground; 
    overflow-x: scroll;
}

pre.highlight { 
    //border-top: 2px solid $color-code-foreground;
    border: 1px solid $color-code-foreground;
    background-color: $color-code-background; 
}

.highlight .lineno { 
    padding: 0 2ch;
    border-right: 1px solid $color-code-foreground;
    color: $color-code-lineno;
}
.highlight .rouge-code { 
    padding: 0 2ch;
}

.highlight .hll { background-color: $color-code-highlight; }
.highlight .c  { color: $color-code-comment; } /* Comment */
.highlight .cm { color: $color-code-comment; } /* Comment.Multiline */
.highlight .c1 { color: $color-code-comment; } /* Comment.Single */
.highlight .cs { color: $color-code-comment; } /* Comment.Special */
.highlight .cp { color: $color-code-preproc; } /* Comment.Preproc */

.highlight .err { color: $color-code-error; } /* Error */

.highlight .k  { color: $color-code-keyword; } /* Keyword */
.highlight .kc { color: $color-code-keyword; } /* Keyword.Constant */
.highlight .kd { color: $color-code-keyword; } /* Keyword.Declaration */
.highlight .kn { color: $color-code-keyword; } /* Keyword.Namespace */
.highlight .kp { color: $color-code-keyword; } /* Keyword.Pseudo */
.highlight .kr { color: $color-code-keyword; } /* Keyword.Reserved */
.highlight .kt { color: $color-code-keyword; } /* Keyword.Type */

.highlight .l  { color: $color-code-literal; } /* Literal */
.highlight .ld { color: $color-code-literal; } /* Literal.Date */
.highlight .m  { color: $color-code-literal; } /* Literal.Number */
.highlight .s  { color: $color-code-literal; } /* Literal.String */
.highlight .mf { color: $color-code-literal; } /* Literal.Number.Float */
.highlight .mh { color: $color-code-literal; } /* Literal.Number.Hex */
.highlight .mi { color: $color-code-literal; } /* Literal.Number.Integer */
.highlight .mo { color: $color-code-literal; } /* Literal.Number.Oct */
.highlight .sb { color: $color-code-literal; } /* Literal.String.Backtick */
.highlight .sc { color: $color-code-literal; } /* Literal.String.Char */
.highlight .sd { color: $color-code-literal; } /* Literal.String.Doc */
.highlight .s2 { color: $color-code-literal; } /* Literal.String.Double */
.highlight .se { color: $color-code-literal; } /* Literal.String.Escape */
.highlight .sh { color: $color-code-literal; } /* Literal.String.Heredoc */
.highlight .si { color: $color-code-literal; } /* Literal.String.Interpol */
.highlight .sx { color: $color-code-literal; } /* Literal.String.Other */
.highlight .sr { color: $color-code-literal; } /* Literal.String.Regex */
.highlight .s1 { color: $color-code-literal; } /* Literal.String.Single */
.highlight .ss { color: $color-code-literal; } /* Literal.String.Symbol */
.highlight .il { color: $color-code-literal; } /* Literal.Number.Integer.Long */

.highlight .o { color: $color-code-operator; } /* Operator */
.highlight .ow { color: $color-code-operator; } /* Operator.Word */

.highlight .p { color: $color-code-punctuation; } /* Punctuation */

.highlight .n { color: $color-code-foreground; } /* Name */
.highlight .na { color: $color-code-foreground; } /* Name.Attribute */
.highlight .nb { color: $color-code-foreground; } /* Name.Builtin */
.highlight .nc { color: $color-code-foreground; } /* Name.Class */
.highlight .no { color: $color-code-foreground; } /* Name.Constant */
.highlight .nd { color: $color-code-foreground; } /* Name.Decorator */
.highlight .ni { color: $color-code-foreground; } /* Name.Entity */
.highlight .ne { color: $color-code-foreground; } /* Name.Exception */
.highlight .nf { color: $color-code-foreground; } /* Name.Function */
.highlight .nn { color: $color-code-foreground; } /* Name.Namespace */
.highlight .nx { color: $color-code-foreground; } /* Name.Other */
.highlight .py { color: $color-code-foreground; } /* Name.Property */
.highlight .nt { color: $color-code-foreground; } /* Name.Tag */
.highlight .nv { color: $color-code-foreground; } /* Name.Variable */
.highlight .bp { color: $color-code-foreground; } /* Name.Builtin.Pseudo */
.highlight .vc { color: $color-code-foreground; } /* Name.Variable.Class */
.highlight .vg { color: $color-code-foreground; } /* Name.Variable.Global */
.highlight .vi { color: $color-code-foreground; } /* Name.Variable.Instance */
.highlight .nl { color: $color-code-keyword; } /* Name.Label */ // public: / private: 

.highlight .w { color: $color-code-foreground; } /* Text.Whitespace */

// .highlight .ge { font-style: italic } /* Generic.Emph */
// .highlight .gs { font-weight: bold } /* Generic.Strong */
// .highlight .gh { } /* Generic Heading & Diff Header */
// .highlight .gu { color: $color-code-foreground; } /* Generic.Subheading & Diff Unified/Comment? */
// .highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
// .highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */